.fc {
    @media only screen and (min-width: 768px) {
        padding-left: 15px;
    }

    a {
        color: $text;
        text-decoration: none;
        font-weight: 700;

        &.fc-daygrid-day-number {
            font-size: 10px;
            background: transparent;
            color: $text;
            border-bottom-left-radius: 8px;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 22px;
            margin: -1px -1px 0 0;
            transition: .3s background;
        }
    }

    .fc-daygrid-day-frame {
        cursor: pointer;

        &:hover {
            .fc-daygrid-day-number {
                background: $highlight;
            }
        }
    }

    td.active {
        .fc-daygrid-day-number {
            background: $highlight;
        }
    }

    .fc-button-primary {
        background: $body-bg-invert;
        color: $text-invert;
        border: 1px solid $body-bg;
        transition: .3s background, .3s color;
        height: 35px;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        padding: 0 20px;
        border-radius: 3px;

        &:hover {
            background: $highlight;
            color: $text;
            border: 1px solid $body-bg;
        }

        &:disabled {
            border: 1px solid rgba(0,0,0,.2);
            color: $text;
            background: $body-bg;
        }
    }

    .fc-daygrid-event {
        background: $highlight;
        color: $text-invert;
        border: 1px solid rgba(0,0,0,.2);
        padding: 5px 10px;
        font-size: 10px;
        letter-spacing: 1px;
        font-weight: 700;

        .fc-daygrid-event-dot {
            border: 4px solid $text-invert;
            margin-right: 7px;
        }
    }

    @media only screen and (max-width: 767px) {
        .fc-header-toolbar {
            display: block;
            text-align: center;

            .fc-toolbar-title {
                margin-bottom: 15px;
            }
        }
    }
}