#footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: $body-bg-invert;
    color: $text-invert;
    text-align: center;
    height: 30px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    z-index: 2;

    #logo {
        margin-top: -1px;
        height: 12px;
        filter: grayscale(1) brightness(5);
    }
}