// Style
.navbar {
    position: fixed !important;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: $body-bg-invert;
    color: $text-invert;
    z-index: 2;

    a {
        color: $text-invert;
        text-decoration: none;
    }

    .navbar-inner {
        width: 100%;
        display: flex;
    }

    #logo {
        height: 50px;
        line-height: 50px;
        font-size: 20px;
        padding: 0;
        filter: grayscale(1) brightness(5);
        transform: scale(.8);
    }

    #logo-subtitle {
        position: absolute;
        bottom: 10px;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: .5px;
        text-transform: uppercase;
        color: $highlight;

        @media only screen and (max-width: 767px) {
            display: none;
        }
    }

    .nav {
        position: absolute;
        display: flex;
        text-align: right;
        right: 0;
        height: 50px;
        line-height: 50px;

        li {
            padding: 0 20px;

            @media only screen and (max-width: 767px) {
                padding: 0 15px 0 5px;
            }

            &.active {
                a {
                    color: $highlight;
                }
            }
        }
    }
}