// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Style
@import 'navbar';
@import 'footer';
@import 'profile';
@import 'calendar';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
    height: 100vh;
}

main {
    text-align: center;
}

.btn {
    border: none;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 20px;
    margin: 15px 10px 0 0;

    &.btn-primary, &.btn-secondary {
        background: $body-bg-invert;
        color: $text-invert;

        &:active {
            background: $body-bg-invert;
            color: $text-invert;
        }
    }

    &:hover {
        background: $highlight;
        color: $text;
    }
}

@media only screen and (min-width: 768px) {
    .pl-md-0 {
        padding-left: 0;
    }
    
    .pr-md-0 {
        padding-right: 0;
    }
}

#app {
    padding-top: 60px;
    margin-top: 0;

    .calendar-element {
        padding-top: 50px;
        margin: -25px auto 50px;
        width: 100%;
    }

    .list-element {
        width: 100%;
        margin: 0 auto 0;
    }

    form {
        text-align: left;
        
        @media only screen and (max-width: 767px) {
            margin-bottom: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid rgba(0,0,0,.2);
        }

        @media only screen and (min-width: 768px) {
            padding-right: 40px;
            border-right: 1px solid rgba(0,0,0,.2);
            height: 100%;
        }

        .form-group {
            margin: 10px 0 15px;

            label {
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 2px;
            }
        }
    }

    .list-toggle {
        position: absolute;
        top: 65px;
        left: 0;
        right: 0;
        max-width: 200px;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 0 auto;
        height: 20px;
        line-height: 20px;
        font-weight: 700;
        border: none;
        background: $highlight;
        border-radius: 0 0 5px 5px;
    }

    .next-events {
        background: $body-bg;
        border: 1px solid rgba(0,0,0,.2);
        margin: -300px 0 5px;
        padding: 15px;
        border-radius: 3px;
        list-style: none;
        text-align: center;
        z-index: 0;
        transition: .5s margin;

        &.active {
            margin-top: 20px;
        }

        .event {
            background: $body-bg;
            color: $text;
            border: 1px solid rgba(0,0,0,.2);
            width: 100%;
            margin: 0 auto 10px;
            border-radius: 3px;
            text-align: left;
            cursor: pointer;
            line-height: 38px;
            height: 40px;
            padding: 0 15px;
            font-weight: 700;
            font-size: 10px;
            letter-spacing: 1px;
            transition: .3s background, .3s color;

            &:last-of-type {
                margin-bottom: 0;
            }

            &:hover {
                color: $text-invert;
                background: $body-bg-invert;
            }

            span {
                float: right;
                text-transform: uppercase;
            }
        }
    }
}

.toast {
    box-shadow: none !important;
    opacity: .8 !important;
    transition: .3s opacity;
    border-radius: 5px !important;

    &:last-of-type {
        margin-bottom: 30px !important;
    }

    &:hover {
        opacity: 1 !important;
    }
}